<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Jumbotron narrow example -->
    <link
      href="http://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css"
      rel="stylesheet"
    />
    <!-- jQuery File -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/jquery.ui.widget.js"></script>
    <script
      type="text/javascript"
      src="../static/js/jquery.fileupload.js"
    ></script>
    <script
      type="text/javascript"
      src="../static/js/jquery.fileupload-process.js"
    ></script>
    <script
      type="text/javascript"
      src="../static/js/jquery.fileupload-ui.js"
    ></script>

    <link href="../static/signup.css" rel="stylesheet" />
    <script>
      $(function() {
        $("#fileupload").fileupload({
          url: "upload",
          dataType: "json",
          add: function(e, data) {
            data.submit();
          },
          success: function(response, status) {
            console.log(response.filename);
            var filePath = 'static/Uploads/' + response.filename;
            $('#imgUpload').attr('src',filePath);
            $('#filePath').val(filePath);
            console.log('success');
            
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#">Add Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
      <section>
        <form method="post" action="/addWish">
          <legend>Create Your Wish</legend>
          <div class="form-group">
            <label for="txtTitle">Title</label>
            <input
              type="text"
              class="form-control"
              id="txtTitle"
              name="inputTitle"
              aria-describedby="emailHelp"
              placeholder="Title"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="txtPost">Description</label>
            <input
              type="text"
              class="form-control"
              id="txtPost"
              name="inputDescription"
              placeholder="Description"
            />
          </div>
          <div class="form-group ">
            <label for="fileupload">Photos</label>
              <div class="d-flex justify-content-between">
                <input
                  type="file"
                  class="form-control-file"
                  id="fileupload"
                  name="file"
                />
                <div>
                    <img  id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail">
                    <input type="hidden" name="filePath" id="filePath"></input>
                </div>
              </div>
          </div>

          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              name="private"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Mark as Private</label
            >
          </div>

          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              name="done"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Mark as Done</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Publish</button>
        </form>

 
      </section>
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
    </div>
  </body>
</html>
