<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Jumbotron narrow example -->
    <link
      href="http://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css"
      rel="stylesheet"
    />
    <link href="../static/signup.css" rel="stylesheet" />
    
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="https://kit.fontawesome.com/e6b2299ff2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   
    <script>
      $(function(){
		
		    GetWishes(1);
      })
    function GetWishes(_page) {
      var _offset = (_page - 1) * 2;
        $.ajax({
          url: "/getWish",
          type: "POST",
          data: {
            offset: _offset
          },
          success: function(res) {
            var itemsPerPage = 2
            // Parse the JSON response
            var wishObj = JSON.parse(res)
            console.log(wishObj)
            // Append to the template
            $('#ulist').empty();
            $('#listTemplate').tmpl(wishObj[0]).appendTo('#ulist');
            var total = wishObj[1].total
            var pageCount = Math.floor(total/itemsPerPage)
            if (total%itemsPerPage != 0){
              pageCount ++
            }

            $('.pagination').empty();
 
            var pageStart = $('#hdnStart').val();
            var pageEnd = $('#hdnEnd').val();

            // var prevLink = $('<li>').attr('class', 'page-item')
            //   .append($('<a>').attr({'class':'page-link'}, {'href': '#'}, {'aria-label': 'Previous'})
            //   .append($('<span>').attr('aria-hidden', 'true').html('&laquo;')));
            if (pageStart > 5) {
              var aPrev = $('<a>').attr({'class':'page-link'}, {'href': '#'}, {'aria-label': 'Previous'})
                .append($('<span>').attr('aria-hidden', 'true').html('&laquo;'));
              $(aPrev).click(function() {
                  $('#hdnStart').val(Number(pageStart) - 5);
                  $('#hdnEnd').val(Number(pageStart) - 5 + 4);
                  GetWishes(Number(pageStart) - 5);
              });
              var prevLink = $('<li>').attr('class', 'page-item').append(aPrev)
              $('.pagination').append(prevLink);
            }

            for (var i = Number(pageStart); i <= Number(pageEnd); i++) {
                if (i > pageCount) {
                  break;
                }
                var aPage = $('<a>').attr({'class': 'page-link'}, {'href': '#'}).text(i);
                // Attach the page click event
                $(aPage).click(function(i) {
                  return function() {
                    GetWishes(i);
                  }
                }(i));
                // Attach the active page class
                if ((_page) == i) {
                  $(page).attr('class', 'active');
                }
                var page = $('<li>').attr('class', 'page-item').append(aPage)

                $('.pagination').append(page);
                // offset = offset + itemsPerPage;

            }  

            // var nextLink = $('<li>').attr('class', 'page-item')
            //   .append($('<a>').attr({'class':'page-link'}, {'href': '#'}, {'aria-label': 'Next'})
            //   .append($('<span>').attr('aria-hidden', 'true').html('&raquo;')));
            
            if ((Number(pageStart) + 5) <= pageCount) {
                var aNext = $('<a>').attr({'class':'page-link'}, {'href': '#'}, {'aria-label': 'Next'})
                  .append($('<span>').attr('aria-hidden', 'true').html('&raquo;'));

                $(aNext).click(function() {
                    $('#hdnStart').val(Number(pageStart) + 5);
                    $('#hdnEnd').val(Number(pageStart) + 5 + 4);
                    GetWishes(Number(pageStart) + 5);
                })
                var nextLink = $('<li>').attr('class', 'page-item').append(aNext)
                $('.pagination').append(nextLink);
            }
            // var pageObj = []
            // for (var i = 1; i <= pageCount; i++) { 
            //   pageObj.push({"Page":i})
            // }  
            // console.log(pageObj)
            // $('#paginationTemplate').tmpl(pageObj).appendTo('#pagination');


          },
          error: function(error) {
            console.log(error);
          }
        });
    }
    </script>
    <style>
      .fa-edit{
        color: blue;
      }
      .fa-trash-alt{
        color: red;
      }
    </style>
  </head>

  <body>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Wish</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/updateWish">
              <div class="form-group">
                <label for="title-name" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="title-name" name="inputTitle">
              </div>
              <div class="form-group">
                <label for="description-text" class="col-form-label">Description:</label>
                <textarea class="form-control" id="description-text" name="inputDescription"></textarea>
              </div>
              <div class="form-group">
                <input type="hidden" class="form-control" id="wishId" name="inputWishId">
              </div>
              <div class="form-group">
                <input type="hidden" class="form-control" id="wishUserId" name="inputUserId">
              </div>

              <div class="form-group">
                  <label for="txtPost">Photos</label>
               
                  <div class="input-group">
                      <div class="d-flex justify-content-between">
                          <input
                            type="file"
                            class="form-control-file"
                            id="fileupload"
                            name="file"
                          />
                      <div class="pull-right">
                          <img id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail">
                          <input type="hidden" name="filePath" id="filePath">
                      </div>
                      </div>
                  </div>
               
              </div>

              <div class="form-group form-check">
                <input id="private" name="private" type="checkbox" class="form-check-input">
                <label class="form-check-label">Mark as Private </label>
              </div>
               
              <div class="form-group form-check">
                <input id="done" name="done" type="checkbox" class="form-check-input">
                <label class="form-check-label">Mark as Done </label>
              </div>
                        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Update</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Wish</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You are about to delete your wish permanently!!
            <form method="post" action="/deleteWish">
              <div class="form-group">
                <input type="hidden" class="form-control" id="wishId" name="inputWishId">
              </div>
              <div class="form-group">
                <input type="hidden" class="form-control" id="wishUserId" name="inputUserId">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Edit Modal Popin Up
      $('#editModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var param = button.data('whatever') // Extract info from data-* attributes
          console.log(param)
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-body #title-name').val(param.title)
          modal.find('.modal-body #description-text').val(param.description)
          modal.find('.modal-body #wishId').val(param.id)
          modal.find('.modal-body #wishUserId').val(param.user)
          modal.find('.modal-body #imgUpload').attr('src',param.filePath);
          modal.find('.modal-body #filePath').val(param.filePath)
          
          if (param.private == 1){
            modal.find('.modal-body #private').attr('checked', true)
          }
          else{
            modal.find('.modal-body #private').attr('checked', false)
          }
          if (param.done == 1){
            modal.find('.modal-body #done').attr('checked', true)
          }
          else{
            modal.find('.modal-body #done').attr('checked', false)
          }
      })

      // Delete Modal Popin Up
      $('#deleteModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var param = button.data('whatever') // Extract info from data-* attributes
          var modal = $(this)
          modal.find('.modal-body #wishId').val(param.id)
          modal.find('.modal-body #wishUserId').val(param.user)
      })


      // $(document).on('click', 'ul.pagination li a', function(event) { 
      //   console.log(event.target.text)
      //   console.log(event.target)
      //  });

      //  $(document).on('click', 'ul.pagination li a span', function(event) { 
        // console.log(event.target.text)
        // console.log(event.target.id)
      //  });

    </script>

    <script id="listTemplate" type="text/x-jQuery-tmpl">
      <li class="list-group-item d-flex justify-content-between">
        <div class="checkbox" >
          <h4>
            ${Title}
          </h4>
          <p>${Description}</p>
        </div>
        <div class="action-buttons">
          <a data-toggle="modal" data-target="#editModal" data-whatever='{"title":"${Title}", "description":"${Description}",
            "id":"${Id}","user":"${User}","filePath":"${FilePath}","private":"${Private}","done":"${Done}"  }'>
            <i class="far fa-edit ml-2"></i>
          </a>
          <a data-toggle="modal" data-target="#deleteModal" data-whatever='{"id":"${Id}", "user":"${User}"}'>
            <i class="far fa-trash-alt ml-2"></i>
          </a>
        </div>
      </li>
    </script>

    <!-- <script id="paginationTemplate" type="text/x-jQuery-tmpl">
      <li class="page-item">
        <a class="page-link" href="#">${Page}</a>
      </li>
    </script> -->
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/showAddWish">Add Wish</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
      
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <ul id="ulist" class="list-group list-group-flush"> 
              </ul>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination text-primary">
            <!-- <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span id="previous" aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span id="next" aria-hidden="true">&raquo;</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </div>

      <input type="hidden" id="hdnStart" value="1" />
      <input type="hidden" id="hdnEnd" value="5"/>
      

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
    </div>
  </body>
</html>
